.input {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__element {
    padding: 16px;
    border-radius: 6px;
    height: 16px;
    min-width: 253px;
    border: 2px solid var(--main);

    &--error {
      border-color: var(--error);
    }

    &::placeholder {
      font-size: 15px;
    }
  }

  &__message {
    color: var(--error);
  }
}
