.button {
  background-color: var(--main);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 20px;
  font-size: 15px;
  border: white;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  &:hover {
    opacity: 0.1;
  }
  &--circle {
    padding: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  &--secondary {
    color: white;
    background-color: var(--minor);
    border: 2px solid var(--secondary);
  }
  &--medium {
    padding: 20px;
    height: 30px;
  }
}
