.button {
    background-color: rgba(30,57,50,255);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border: white;
    border-radius: 5px;
    &--small{
        padding: 5px;
    }
}