body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --main: #76d7c4;
  --minor: #f4d03f;
  --error: #e74c3c;
}
