.card {
  margin: 25px;
  padding: 25px;
  background-color: rgba(139, 218, 238, 0.924);
  width: 20vw;
  height: 25vw;
  border-radius: 10px;
  text-align: center;
  &__title {
    font-family: "Times New Roman", Times, serif;
    color: gray;
  }
  &__image {
    border-radius: 30px;
    width: 18vw;
    height: 15vw;
  }
}
